* { 
    box-sizing: border-box;
}

body { 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #696E79; 
    color: #191E29;
    margin: 0; 
}

header {
    color: #FFFFFF;
    font-family: Georgia, 'Times New Roman', serif;
    font-size: 1.5em;
    text-align: center;
}
h1 {
    background-color: #132D46;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0;
}

nav {
    font-weight: bold;
    letter-spacing: 0.05em;
    background-color: #DEDEDE;
    font-size: 1.25em;
    text-align: center;
    padding: 5px;
    top: 0;
    position: relative;
}

nav ul { 
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    border-bottom: 1px solid #132D46;
    padding-top: .5em;
    padding-bottom: .5em;
}

nav ul ul {
    position: absolute;
    padding: 0;
    text-align: left;
    display: none;
}

nav ul ul li {
    border: 1px solid #132D46;
    background-color: #DEDEDE;
    display: block;
    width: 10em;
    padding-left: 0;
    margin-left: 0;
    font-weight: normal;
    font-size: .75em;
}

nav a {
    text-decoration: none;
    color: #191E29;
    margin: 0px;
    padding: 0px 20px 0px 20px;
}

nav ul ul li a {
    padding-left: 10px;
    box-decoration-break: clone;
}

nav a:link {color: #191E29; }
nav a:visited {color: #000066; }
nav a:hover {color: #FFFFFF; }

main {
    display: block;
    background-color: #FFFFFF;
    padding: 25px;
}

h2 {
    background-color: #FFFFFF;
    color: #132D46;
    margin-top: 0px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
}

h3, h4 {
    color: #132D46;
    font-family: Georgia, 'Times New Roman', serif;
}

#pages section {
    max-width: 520px;
    padding: 10px;
    height: 520px;
    margin: 20px;
}

#pages, #pages h2 {
    background-color: #696E79;
    color: #FFFFFF;
    text-align: center;
}

#pages h2 {
    background-color: #132D46;
}

#pages a {
    color: #FFFFFF;
}

#privacy {
    background-image: url(images/camera.jpg);
    background-repeat: no-repeat;
}

#security {
    background-image: url(images/safe.jpg);
    background-repeat: no-repeat;
}

#resources {
    background-image: url(images/resources.jpg);
    background-repeat: no-repeat;
}

#tools {
    background-image: url(images/tools.jpg);
    background-repeat: no-repeat;
}

#contactme {
    background-image: url(images/contactme.JPG);
    background-repeat: no-repeat;
}

#resourceitems section {
    max-width: 520px;
    padding: 10px;
    margin: 20px;
    background-color: #DEDEDE;
}

#resourceitems {
    background-color: #132D46;
    color: #191E29;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#resourceitems section {
    background-color: #FFFFFF;
}

#resourceitems a {
    color: #191E29;
}

footer {
    clear: both;
    text-align: center;
    background-color: #DEDEDE;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    font-size: 70%;
}

#me {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#cats {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#about p {
    padding: 10px;
    margin: 10px;
}

#name {
    width: 300px;
}

#contact a {
    color:#132D46
}

table {
    margin: auto;
    border: 3px solid #191E29;
}

td, th {
    border: 1px solid #191E29;
    padding: .75em;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-spacing: 0;
}
th {
    background-color: #132D46;
    color: #FFFFFF;
}
tr:nth-of-type(even) {
    background-color: #DEDEDE;
}

input, textarea {
    background-color: #DEDEDE;
    }

textarea {
    width:300px;
}

video {
    margin: 0;
    padding: 10px 0px 0px 0px;
}

.error { font-family: Arial, sans-serif;
    font-style: italic; font-size: .90em;
    color: #FF0000; margin-left: 1em; }

@supports ( display: grid) {
    form {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 10em 1fr;
        grid-gap: 1.25em;
        gap: 1em;
        padding: 1em;
        background-color: #132D46;
        color: #FFFFFF;
    }
    input[type="submit"] {
        grid-column: 1 / 2;
        width: 10em;
        position: center;
    }
    input[type="reset"] {
        grid-column: 2 / 2;
        width: 10em;
        position: center;
    }
}

header, nav, main, footer, aside {display: block; }
@media (min-width: 600px) {
    #wrapper { 
        margin: 0 auto;
        width: 95%;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    body {
        margin: auto;
    }
    h1 {
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }
    nav {
        position: sticky;
    }
    nav li {
        display: inline-block;
        border: none;
    }
    nav ul{
        text-align: center;
    }
    nav li:hover ul {
        display: block;
    }
    #pages, #resourceitems {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    #pages section {
        min-width: 520px;
        max-width: 520px;
        padding: 10px;
        height: 520px;
        margin: 20px;
    }
}

